<div class="px-16 py-12 bg-white rounded shadow mx-auto max-w-sm w-sm">
  <div class="mb-6">
    <h1 class="text-2xl text-gray-900 font-light">Welcome to Spyfall</h1>
  </div>
  <div class="buttons mb-4">
    <a href='<%= Routes.game_path(@conn, :new) %>'>
      <button class="indigo-button mr-2">New Game</button>
    </a>
    <a href='<%= Routes.game_path(@conn, :join_new) %>'>
      <button class="indigo-button">Join Game</button>
    </a>
  </div>
  <div class="rules mb-4">
  </div>
</div>
