@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./components";
@import "toastr";
@import "tailwindcss/utilities";

.show-hide.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.show-hide.invisble {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
