<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spyfall</title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>' />
  </head>

  <body class="bg-gray-200">
    <header>
      <section class="container">
      </section>
    </header>
    <div
         class="container mx-auto flex items-center h-screen align-center justify-center -mt-6 flex-wrap">
      <div class="w-full mx-auto text-center">
        <main role="main">
          <%= render(@view_module, @view_template, assigns) %>
        </main>
        <div class="footer mt-6">
          <p class="text-gray-700 text-sm">
            made with &hearts; by <a href="https://avencera.com" class="underline">avencera</a>
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>

</html>
